<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Get 5 quotes in 5 minutes!</h1>
  <p class="lead">
    Step 1: Pick one of your plans from the menu <br />
    Step 2: Answer 5 questions <br />
    Step 3: Get your personalized quotation, absolutely free! <br />
    It's that easy!
  </p>
  <!-- <p><a class="btn btn-lg btn-success" href="#">I want my quotation now!</a></p> -->
</div>